@model IEnumerable<PostAds.Models.AppUser>
@{
    ViewData["Title"] = "Dashboard";

}

@inject AppDbContex dbContext

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Menu Administrador</span>
                    <ul>
                       @Html.Partial("_IndexAdminPartial")
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="contador">
                                <span><i class="fa fa-user"></i>@Model.Count()</span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contador">
                                <span><i class="fa fa-plus-circle"></i>@dbContext.Anuncio.Count()</span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contador">
                                <span><i class="fa fa-user"></i> <i class="fa fa-lock"></i>@Model.Where(x => x.Bloqueado == true).Count()</span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="contador">
                                <span><i class="fa fa-plus-circle"></i> <i class="fa fa-lock"></i>@dbContext.Anuncio.Where(x => x.Bloqueado == true).Count()</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ads-blocked">
                                <span>Anuncios</span>
                                <div class="pre-scrollable">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Poster</th>
                                            <th>Titulo</th>
                                        </tr>
                                        @foreach (var item in dbContext.Anuncio.Where(x => x.Bloqueado == false).ToList())
                                        {
                                            var poster = dbContext.Users.Where(x => x.Id == item.AppUserId).First();
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@poster.Nombre</td>
                                            <td>@item.Titulo</td>
                                        </tr>

                                        }
                                    </table>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="user-blocked">
                                <span>Usuarios</span>
                                 <div class="pre-scrollable">
                                     <table class="table">
                                         <tr>
                                             <th>Nombre</th>
                                             <th>Apellido</th>
                                             <th>Correo</th>
                                             <th>Anuncios</th>
                                         </tr>
                                         @foreach (var item in Model)
                                         {
                                         <tr>
                                             <td>@item.Nombre</td>
                                             <td>@item.Apellido</td>
                                             <td>@item.Email</td>
                                             <td>@item.Anuncios.Count</td>
                                         </tr>

                                         }
                                     </table>
                                 </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>