@model IEnumerable<PostAds.Models.Anuncio>
@{
    ViewData["Title"] = "Publicaciones";
}

@inject AppDbContex dbContext


<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Publicaciones</span>
                    <ul>
                        <partial name="_IndexAdminPartial">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-user"></i> @Model.Count() Publicaciones</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-lock"></i> @Model.Where(x => x.Bloqueado == true).Count() Bloqueadas</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ads-blocked-page">
                                <span>Publicaciones</span>
                                <div class="pre-scrollable" style="height:100vh">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Poster</th>
                                            <th>Titulo</th>
                                            <th>Eliminar</th>
                                            <th>Bloquear</th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            var user = dbContext.Users.Where(x => x.Id == item.AppUserId).First();
                                            var bloqueo = item.Bloqueado == false ? "Bloquear" : "Desbloquear";

                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@user.Nombre</td>
                                                <td>@item.Titulo</td>
                                                <td><a class="btn btn-danger" asp-action="DeletePublicaciones" asp-route-id="@item.Id">Eliminar</a></td>
                                                <td><a class="btn btn-warning" asp-action="LockPublicaciones" asp-route-id="@item.Id">@bloqueo</a></td>
                                            </tr>

                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

