@model IEnumerable<PostAds.Models.AppUser>
@{
    ViewData["Title"] = "Usuarios";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Usuarios</span>
                    <ul>
                       <partial name="_IndexAdminPartial">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-user"></i> @Model.Count() Usuarios</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-lock"></i> @Model.Where(x => x.Bloqueado == true).Count() Bloqueados</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="user-blocked">
                                <span>Usuarios</span>
                                <div class="pre-scrollable" style="height:100vh">
                                    <table class="table">
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Correo</th>
                                            <th>Anuncios</th>
                                            <th>Eliminar</th>
                                            <th>Bloquear</th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            var bloqueo = item.Bloqueado == false ? "Bloquear" : "Desbloquear";
                                        <tr>
                                            <td>@item.Nombre</td>
                                            <td>@item.Apellido</td>
                                            <td>@item.Email</td>
                                            <td>@item.Anuncios.Count()</td>
                                            <td><a class="btn btn-danger" asp-action="DeleteUsuario" asp-route-id="@item.Id">Eliminar</a></td>
                                            <td><a class="btn btn-warning" asp-action="LockUsuario" asp-route-id="@item.Id">@bloqueo</a></td>
                                        </tr>

                                        }
                                    </table>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

