@model PostAds.Models.AppUser
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3" style="padding-left:0">
                <div class="admin">
                    <span>Dashboard</span>
                    <ul>
                       <partial name="_IndexUserPartial">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="admin-root">
                    <div class="row"> 
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-plus-circle"></i> @Model.Anuncios.Count() Publicaciones</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contador">
                                <span><i class="fa fa-plus-circle"></i> <i class="fa fa-lock"></i> @Model.Anuncios.Where(x => x.Bloqueado == true).Count() Bloqueadas</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ads-blocked">
                                <span>Anuncios publicados</span>
                                <div class="pre-scrollable" style="height:100vh">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Titulo</th>
                                            <th>Precio</th>
                                            <th>Fecha</th>
                                            <th>Descripción</th>
                                        </tr>
                                        @foreach (var item in Model.Anuncios)
                                        {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Titulo</td>
                                            <td>@item.PrecioVenta</td>
                                            <td>@item.FechaPublicaccion.ToString("dd/MM/yyyy H:mm")</td>
                                            <td>@item.Descripcion</td>
                                        </tr>

                                        }
                                    </table>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
