@model VistasPostAdd.ViewModel.AnuncioVM
@{
    ViewData["Title"] = "Index";
}

@inject AppDbContex dbContex
@{ 
    var categoria = dbContex.Categoria.ToList();
    var Ads = (PostAds.Models.Anuncio)ViewBag.Ads;
}

<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create" id="form-pub" method="post" enctype="multipart/form-data">
            <input type="file"
                    name="Imagen"
                    id="files-upload"
                    accept="image/*"
                    style="visibility:hidden;position:absolute;"
                    multiple>
            <div class="row">
                <div class="col-lg-6">
                    <div class="publicar-fotos">
                        <div class="drop-files">
                            <span>Agregar fotos</span>
                            <i class="fa fa-image"></i>
                            <button id="btn-upload">Subir desde el dispositivo</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="publicar-descripcion">

                        <span>Datos del producto</span>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <label asp-for="Titulo">Titulo:</label>
                        <input asp-for="Titulo" id="Titulo" name="Titulo" value="@Ads.Titulo" placeholder="Título del producto">

                        <label asp-for="PrecioVenta">Precio:</label>
                        <input asp-for="PrecioVenta" id="PrecioVenta" name="PrecioVenta" value="@Ads.PrecioVenta" placeholder="Precio del producto">

                        <label asp-for="Estado">Estado:</label>
                        <input asp-for="Estado" id="Estado" name="Estado" value="@Ads.Estado" placeholder="Estado del producto">

                        <label for="Categoria">Categoria:</label>
                        <select name="Categoria" id="Categoria">
                            <option value="0">Seleccionar categoria</option>
                            @foreach (var item in categoria)
                            {
                            <option value="@item.Id">@item.Nombre</option>
                            }

                        </select>

                        <label asp-for="Descripcion">Descripción</label>
                        <textarea asp-for="Descripcion" id="Descripcion" name="Descripcion" placeholder="Descripción del producto" style="padding:2%" cols="50"  value="@Ads.Descripcion" rows="2">klskdlkdsd</textarea>

                        <input type="submit" id="btn-send" value="Publicar Articulo">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}